body{
  /* margin: 100px 25%; */
  height: 1000px;
  margin-top: 0;
  text-align: center;
  align-items:center;
  /* background-color: #d9eeec; */
  /* background-color: black; */

}


.gameBody {
text-align: center;
align-content: center;
position: relative;
  margin-top: 0;
  height: 1000px;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;


}

.Box {
    position:relative;
  background-color: hsla(120,100%,50%, 0.5);
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.75);
  width: 1000px;
  margin: auto;
  /* margin-left: 20%;
    margin-right: 20%; */



}
.line {
  position:relative;
  /* left: 100px; */
}

 .letterBox{
  margin: 8px;
  display: inline-block;
text-align: center;
  width: 30px;
  height: 30px;
  color: #ffff;
  border-style: solid;
  border-width: thin;
  background-color: #f14e4e;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
   margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
font-weight:400;
font-size: 1.2rem;

}


.list {
    background-color: white;
    width: 1000px;
      margin: auto;
    box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.75);
}



.letterBox:hover{
  color: red;
  background-color: black;
  cursor: pointer;

}




.title{
  width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.levelTitle {
  position: relative;
  left: 60px;
    display: inline-block;
  font-family: Special Elite;
  font-size: 4rem;
  position: relative;
    margin:60px auto 0;
    text-align: center;
    align-items: center;



}
/* .audioDiv{

} */
.audioBtn{
  display: inline-block;
  position: relative;
  right: 550px;
  bottom:  20px;
  margin: 10px;
  font-size: 1.8rem;
  background-color: hsla(120,100%,50%, 0.5);
  border-style: none;
}
.audioBtn:hover {
    font-size: 1.9rem;
    background-color: hsla(130,100%,50%, 0.1);
  cursor: pointer;
}

.volSlider {
  display: inline-block;
  position: relative;
  right: 620px;
  bottom:  -10px;
margin: 10px;
background: #d3d3d3;
width: 50px;
}

/* //////////////////////////////// */


@media (max-width: 1020px) {

.gameBody {
  width: 1050px;
}


}
